
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Youtube Downloader</title>
</head>
<body>
  <div class="container">
    <h1>Video Downloader</h1>

    <form id="downloadForm">
      {% csrf_token %}
      <div class="form-group">
        <label for="videoUrl">Enter a valid Youtube video URL:</label>
        <input type="text" id="videoUrl" name="video_url" placeholder="Paste youtube url/link...">
      </div>
      <button type="submit" class="btn">Download Video</button>
    </form>

    <div id="loader">Downloading...</div>
    <div id="message"></div>
  </div>
  <script src="{% static 'main.js' %}"></script>
</body>
</html>
